.navbar {
    position: absolute;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin: 30px 0 110px 150px;
    z-index: 10;
}

.navbar.footer {
    position: static;
    margin: 30px 0 30px 0;
    justify-content: center;
}

.navbarItem {
    display: flex;
    margin-right: 40px;
    align-items: flex-end;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.navbarItem.black {
    color: black;
}

a,
.navbarItem a {
    text-decoration: none;
}

a:visited,
.navbarItem a:visited {
    color: #FFFFFF;
}

.navbarItem.black a:visited {
    color: black;
}