.mainLogo {
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 35px;
    justify-content: center;
    position: relative;
    text-align: center;
}


.mainLogo::before {
    display: flex;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 300px;
    top: 50%;
}

.mainLogo::after {
    display: flex;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 300px;
    top: 50%;
}